# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
/dist/

# Ignore any build files or artifacts
build/
out/

# Ignore IDE/Editor specific files
.vscode/
.idea/

# Ignore npm debug log
npm-debug.log*

# Ignore any TypeScript configuration files
tsconfig.json
tsconfig.tsbuildinfo

# Ignore environment configuration files
.env
